.nav{
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    font-size: larger;
}
.nav-link{
    color: white;
}
.title{
    margin-left: 30%;
    margin-right: 30%;
    border-style: groove;
    border-color: black;
    border-spacing: 100%;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 300%;
    text-align: center;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 50%;
}
footer{
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
    float: inline-end;
    margin-right: 5%;
    
}
.container{
    width: 100%;
    height: auto;
}